* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "Chronicle Display";
  font-display: swap;
  src: url("../fonts/Chronicle Display Black.woff2") format("woff2"), url("../fonts/Chronicle Display Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Chronicle Display";
  font-display: swap;
  src: url("../fonts/Chronicle Display Semibold.woff2") format("woff2"), url("../fonts/Chronicle Display Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

a:focus-visible {
  outline: 2px dashed #FBD784;
  outline-offset: 4px;
  -webkit-transition: outline-color 0.3s ease, outline-offset 0.3s ease;
  transition: outline-color 0.3s ease, outline-offset 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Gilroy";
  font-size: 1.2857142857rem;
  line-height: 1.5714285714rem;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  background-color: #0b1d26;
}

#skip-link {
  position: absolute;
  top: -40px;
  left: 0px;
  background: #000;
  color: #fff;
  padding: 8px 16px;
  z-index: 1000;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

#skip-link:focus-visible {
  top: 10px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 127.8571428571rem;
  padding: 0 1.0714285714rem;
  margin: 0px auto;
}

.focusable:focus-visible {
  outline: 2px dashed #FBD784;
  outline-offset: 4px;
  -webkit-transition: outline-color 0.3s ease, outline-offset 0.3s ease;
  transition: outline-color 0.3s ease, outline-offset 0.3s ease;
}

.hover-underline {
  position: relative;
}

.hover-underline::after {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% + 6px);
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.span-hover-underline span {
  position: relative;
}

.span-hover-underline span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% + 6px);
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.header::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 29, 38, 0.9)), color-stop(60%, rgba(11, 29, 38, 0.6)), to(rgba(11, 29, 38, 0)));
  background: linear-gradient(180deg, rgba(11, 29, 38, 0.9) 0%, rgba(11, 29, 38, 0.6) 60%, rgba(11, 29, 38, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header.dark-bg::before {
  opacity: 1;
}

.header__content {
  padding: 4.5714285714rem 0;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 200px) 1fr minmax(auto, 200px);
  grid-template-columns: minmax(auto, 200px) 1fr minmax(auto, 200px);
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-link {
  display: inline-block;
  width: 7.7142857143rem;
  pointer-events: all;
  position: relative;
  z-index: 7;
}

.header__logo-link img {
  width: 100%;
}

.header__menu {
  pointer-events: all;
}

.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header__account-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5714285714rem;
  pointer-events: all;
  position: relative;
  z-index: 7;
}

.header__account-link svg {
  width: 1.7142857143rem;
}

.header__account-link span {
  font-family: "Gilroy";
  font-size: 1.2142857143rem;
  line-height: 1.5rem;
  color: #FFFFFF;
}

.header-menu {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__icon {
  display: none;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.8571428571rem;
}

.header-menu__list-item a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2857142857rem;
  line-height: 1.5714285714rem;
  color: #FFFFFF;
}

.pretitle {
  font-weight: 800;
  letter-spacing: 0.4285714286rem;
  text-transform: uppercase;
  color: #FBD784;
  position: relative;
  padding-left: 6.8571428571rem;
}

.pretitle::before {
  content: "";
  position: absolute;
  width: 72px;
  height: 2px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #FBD784;
}

.pretitle--big {
  padding-left: 7.4285714286rem;
}

.title {
  font-family: "Chronicle Display";
  font-weight: 375;
  font-size: 4.5714285714rem;
  line-height: 5.5rem;
  font-size: 4.5714285714rem;
  line-height: 5.5rem;
}

.title--big {
  font-size: 6.2857142857rem;
  line-height: 7.1428571429rem;
  text-transform: capitalize;
}

.social-icon {
  fill: #fff;
  width: 1.7142857143rem;
  height: 1.7142857143rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.7142857143rem;
  position: fixed;
  z-index: 100;
  padding-left: 1.0714285714rem;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.social.hidden {
  opacity: 0;
  visibility: hidden;
}

.social__text {
  -webkit-writing-mode: sideways-rl;
      -ms-writing-mode: sideways-rl;
          writing-mode: sideways-rl;
}

.social__icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list {
  position: fixed;
  z-index: 100;
  padding-right: 1.0714285714rem;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navigation-list.hidden {
  opacity: 0;
  visibility: hidden;
}

.navigation-list__item {
  border-right: 3px solid rgba(255, 255, 255, 0.5);
}

.navigation-list__item--active {
  border-right: 3px solid rgb(255, 255, 255);
}

.navigation-list__item:first-child .navigation-list__link {
  padding-top: 1.1428571429rem;
}

.navigation-list__item:last-child .navigation-list__link {
  padding-bottom: 1.1428571429rem;
}

.navigation-list__link {
  display: block;
  text-align: right;
  color: #fff;
  padding: 1.4285714286rem 0;
  padding-right: 2.2857142857rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0b1d26;
}

.content__container {
  width: 100%;
}

@-webkit-keyframes move-up-and-down {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  20% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }

  40% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  60% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }

  80% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes move-up-and-down {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  20% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }

  40% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  60% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }

  80% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.full-screen {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.full-screen__scroll-parallax {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.full-screen__scroll-parallax.absolute {
  position: absolute;
}

.full-screen__container {
  height: 100%;
}

.full-screen__content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 15;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.full-screen__content::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 105%;
  height: 105%;
  left: -3px;
  top: -3px;
  background: linear-gradient(330deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 130%);
}

.full-screen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.2857142857rem;
  max-width: 70rem;
  width: 100%;
  padding: 0 1.0714285714rem;
}

.full-screen__scroll {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1428571429rem;
}

.full-screen__scroll span {
  font-weight: 700;
  color: #FFFFFF;
}

.full-screen__scroll svg {
  width: 1.1428571429rem;
}

.full-screen__images {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  z-index: 1;
}

.full-screen__image-scroll-parallax {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.full-screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.8s cubic-bezier(0.19, 0.48, 0.29, 0.98);
  transition: 0.8s cubic-bezier(0.19, 0.48, 0.29, 0.98);
}

.no-webp .full-screen__image--clouds {
  background: url("../img/clouds.png") top/cover no-repeat; }

.full-screen__image--clouds {
  top: 0;
}

.no-webp .full-screen__image--mountains {
  background: url("../img/mountains.png") top/cover no-repeat; }

.full-screen__image--mountains {
  top: 15%;
  z-index: 2;
}

.no-webp .full-screen__image--human {
  background: url("../img/human.png") top/cover no-repeat; }

.full-screen__image--human {
  top: 45%;
  z-index: 3;
}

.arrow-icon {
  fill: #FBD784;
  width: 1.7142857143rem;
  height: 1.1428571429rem;
}

.list {
  width: 100%;
  counter-reset: number;
  margin-bottom: 14.2857142857rem;
  position: relative;
  z-index: 20;
  background-color: #0b1d26;
}

.list::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14.2857142857rem;
  -webkit-transform: translate(0, -99%);
      -ms-transform: translate(0, -99%);
          transform: translate(0, -99%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 29, 38, 0)), to(#0B1D26));
  background: linear-gradient(180deg, rgba(11, 29, 38, 0), #0B1D26);
}

.list__content {
  max-width: 104.2857142857rem;
  width: 100%;
  margin: 0 auto;
}

.list__list {
  padding-top: 7.1428571429rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14.2857142857rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 7.876712%;
  /* 115/1460 */
}

.list__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.list__item:nth-child(n+10) .item-box::before {
  content: counter(number);
}

.list__item-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38.767123%;
          flex: 0 0 38.767123%;
  /* 566/1460 */
}

.list__item-img img {
  width: 100%;
}

.item-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.9285714286rem;
  padding-left: 10.7142857143rem;
  position: relative;
}

.item-box::before {
  content: "0" counter(number);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-42.916667%);
      -ms-transform: translateY(-42.916667%);
          transform: translateY(-42.916667%);
  /* -103/240 */
  counter-increment: number;
  font-weight: 700;
  font-size: 17.1428571429rem;
  line-height: 17.1428571429rem;
  opacity: 0.1;
}

.item-box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.1428571429rem;
}

.item-box__text p {
  font-weight: 700;
  line-height: 2.2857142857rem;
}

.item-box__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 1.1428571429rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-box__link span {
  line-height: 1.5rem;
  color: #FBD784;
}

.item-box__link svg {
  width: 1.7142857143rem;
}

.footer {
  padding-bottom: 7.1428571429rem;
  background-color: #0b1d26;
  position: relative;
  z-index: 20;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15.1428571429rem;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.7142857143rem;
}

.footer__logo {
  width: 7.7142857143rem;
}

.footer__logo img {
  width: 100%;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.1428571429rem;
  max-width: 21.4285714286rem;
}

.footer__text p {
  font-weight: 700;
  line-height: 1.78;
}

.footer__copyright {
  margin-top: auto;
  max-width: 28.5714285714rem;
  font-weight: 500;
  line-height: 1.78;
  opacity: 0.5;
}

.footer__copyright a {
  color: #fff;
}

.footer__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15.1428571429rem;
}

.footer__lists-item {
  max-width: 14.2857142857rem;
}

.footer__list-title {
  font-weight: 700;
  font-size: 1.7142857143rem;
  font-size: 1.7142857143rem;
  line-height: 1.33;
  color: #FBD784;
  margin-bottom: 1.7142857143rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 1.1428571429rem;
}

.footer__list-item a {
  font-weight: 500;
  line-height: 1.78;
  color: #fff;
}

.footer__mobile-bottom {
  display: none;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.7142857143rem;
}

.footer-social__icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1760px) {
  .title {
    font-size: calc(2.2857142857rem + 32 * (100vw - 320px) / 1440);
  }

  .title {
    line-height: calc(2.8571428571rem + 37 * (100vw - 320px) / 1440);
  }

  .title--big {
    font-size: calc(3.1428571429rem + 44 * (100vw - 320px) / 1440);
  }

  .title--big {
    line-height: calc(3.5714285714rem + 50 * (100vw - 320px) / 1440);
  }

  .item-box::before {
    font-size: calc(5.7142857143rem + 160 * (100vw - 320px) / 1440);
  }

  .item-box::before {
    line-height: calc(5.7142857143rem + 160 * (100vw - 320px) / 1440);
  }

  .footer__content {
    gap: calc(0rem + 212 * (100vw - 320px) / 1440);
  }

  .footer__lists {
    gap: calc(0rem + 212 * (100vw - 320px) / 1440);
  }
}

@media (max-width: 1699.98px) {
  .header__content {
    padding: 2.2857142857rem 0;
  }

  .list__content {
    max-width: 85.882353%;
    /* 1460/1700 */
  }

  .list__list {
    gap: 10.7142857143rem;
  }
}

@media (max-width: 1460px) {
  .footer__list-title {
    font-size: calc(1.2857142857rem + 6 * (100vw - 320px) / 1140);
  }
}

@media (max-width: 1439.98px) {
  .navigation-list__link {
    padding-right: 1.4285714286rem;
  }

  .full-screen__body {
    max-width: 75%;
  }

  .list {
    margin-bottom: 10.7142857143rem;
  }

  .item-box {
    padding-left: 0rem;
  }

  .item-box::before {
    -webkit-transform: translateX(-30%) translateY(-42.916667%);
        -ms-transform: translateX(-30%) translateY(-42.916667%);
            transform: translateX(-30%) translateY(-42.916667%);
    /* -103/240 */
  }
}

@media (max-width: 1199.98px) {
  .list__content {
    max-width: 80%;
  }

  .footer__content {
    gap: 3.5714285714rem;
  }

  .footer__lists {
    gap: 3.5714285714rem;
  }
}

@media (max-width: 1099.98px) {
  .list__item {
    gap: 3.5714285714rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .list__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .list__item-img {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
    padding-bottom: 75%;
  }

  .list__item-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 1023.98px) {
  .navigation-list__link {
    padding: 0.7142857143rem 0;
    padding-right: 1.4285714286rem;
    font-size: 1.1428571429rem;
  }

  .list__list {
    gap: 7.1428571429rem;
  }

  .item-box__text p {
    font-weight: 500;
  }

  .footer__copyright {
    font-size: 1.1428571429rem;
  }
}

@media (max-width: 768.98px) {
  body.locked {
    overflow: hidden;
    -ms-touch-action: none;
        touch-action: none;
    -ms-scroll-chaining: none;
        overscroll-behavior: none;
  }
}

@media (max-width: 767.98px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.1428571429rem;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .header__account {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header-menu__icon {
    display: block;
    width: 35px;
    height: 25px;
    background-color: transparent;
    position: relative;
    z-index: 7;
  }

  .header-menu__icon span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header-menu__icon span:first-child {
    width: 100%;
    top: 0;
  }

  .header-menu__icon span:last-child {
    width: 100%;
    top: 100%;
  }

  .header-menu__icon.active span {
    opacity: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .header-menu__icon.active span:first-child {
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
    opacity: 1;
  }

  .header-menu__icon.active span:last-child {
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(-45deg);
        -ms-transform: translate(0, -50%) rotate(-45deg);
            transform: translate(0, -50%) rotate(-45deg);
    opacity: 1;
  }

  .header-menu__body {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .header-menu__body.active {
    visibility: visible;
    opacity: 1;
    background-color: rgba(28, 36, 42, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    overflow: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .header-menu__list {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.1428571429rem;
  }

  .header-menu__list-item a {
    font-size: 1.5714285714rem;
  }

  .pretitle {
    padding-left: 3.5714285714rem;
    font-size: 1.1428571429rem;
  }

  .pretitle--big {
    padding-left: 3.5714285714rem;
  }

  .pretitle::before {
    width: 40px;
  }

  .social {
    display: none;
  }

  .navigation-list {
    display: none;
  }

  .list {
    margin-bottom: 7.1428571429rem;
  }

  .list::before {
    height: 7.1428571429rem;
  }

  .list__content {
    max-width: 100%;
  }

  .item-box::before {
    -webkit-transform: translateX(0%) translateY(-42.916667%);
        -ms-transform: translateX(0%) translateY(-42.916667%);
            transform: translateX(0%) translateY(-42.916667%);
  }

  .footer {
    padding-bottom: 3.5714285714rem;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.4285714286rem;
  }

  .footer__text {
    max-width: 100%;
  }

  .footer__text p {
    font-weight: 500;
  }

  .footer__copyright {
    display: none;
  }

  .footer__mobile-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.4285714286rem;
  }

  .footer__mobile-bottom * {
    display: block;
  }

  .footer__mobile-bottom .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.3571428571rem;
  }
}

@media (max-width: 549.98px) {
  .list__list {
    padding-top: 5rem;
  }
}

@media (max-width: 424.98px) {
  .header__logo-link {
    width: 6.4285714286rem;
  }

  .header__account-link svg {
    width: 2.1428571429rem;
  }

  .header__account-link span {
    display: none;
  }

  .full-screen__body {
    max-width: 100%;
  }

  .list__list {
    gap: 5rem;
  }

  .list__item {
    gap: 2.1428571429rem;
  }

  .item-box {
    gap: 1.0714285714rem;
  }

  .footer__logo {
    width: 6.4285714286rem;
  }

  .footer__text p {
    font-size: 1.1428571429rem;
  }

  .footer__lists {
    gap: 2.1428571429rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__list-item a {
    font-size: 1.1428571429rem;
  }
}

@media (any-hover: hover) {
  .hover-underline:hover::after {
    background-color: #fff;
  }

  .hover-underline--gold:hover::after {
    background-color: #FBD784;
  }

  .span-hover-underline:hover span::after {
    background-color: #fff;
  }

  .full-screen__scroll:hover svg {
    -webkit-animation: move-up-and-down 2s infinite;
            animation: move-up-and-down 2s infinite;
  }
}

@media (max-aspect-ratio: 3/2) {
  .no-webp .full-screen__image--human {
    background: url("../img/human.png") 30% top/cover no-repeat; }
}

.webp .full-screen__image--clouds { background: url(../img/clouds.webp) top/cover no-repeat; }

.webp .full-screen__image--mountains { background: url(../img/mountains.webp) top/cover no-repeat; }

.webp .full-screen__image--human { background: url(../img/human.webp) top/cover no-repeat; }

@media (max-aspect-ratio: 3/2) {

  .webp .full-screen__image--human { background: url(../img/human.webp) 30% top/cover no-repeat; }
}